$primary-color-light: #0ea5e9;
$primary-color: #0284c7;
$primary-color-dark: #0369a1;

$secondary-color: #059669;
$thirdary-color: #ea580c;
$primary-red: #c93939;

$grey-color: #3c3c3c;
$link-color: #064fff;
$info-color: #4167c3;
$grey-light-one: #f8fafc;

$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$gray-400: #9ca3af;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-800: #1f2937;
$gray-900: #111827;
$gray-950: #030712;
/*========background color ==============*/
$bg-white: #fff;
$bg-grey: #3c3c3c;
$bg-primary: #fec400;
$bg-warning: #fffaed;

$text-whote: #fff;

$shadow-one: 1px 2px 4px 0px rgb(0 0 0 / 20%);
$shadow-two:
  1px 1px 4px -2px rgb(0 0 0 / 20%),
  4px 4px 16px -6px rgb(0 0 0 / 20%);

$text-nomal: 400;
$text-bold: 600;
$text-black: 900;

$bd-width: 1px;
$bd-width-bold: 2px;
