@use "../../../../app/styles/variable" as *;

.wrapper {
  width: 100%;
  :global {
    .routing-input {
      width: 100%;
      > div {
        width: 50%;
      }
    }
    .tripFrom,
    .tripTo {
      &.isSelecting > div {
        border-color: $secondary-color;
      }
    }
    .switcher {
      left: calc(50% - 12px);
      top: calc(50% - 12px);
      background: #fff;
      border-radius: 50%;
    }
  }
}

.airportList {
  height: 280px;
  width: 100%;
  min-width: 320px;
  overflow-y: auto;
}
