@use "../../../../styles/variable" as *;

.wrapper {
  :global {
    width: 100%;
    .routing-input {
      width: 100%;

      > div {
        width: 50%;
      }
    }
    .tripFrom,
    .tripTo {
      &.isSelecting > div {
        border-color: $secondary-color;
      }
    }
    .switcher {
      left: calc(50% - 12px);
      top: 13px;
      border-radius: 50%;
    }
    .airport-list {
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.airportList {
  :global {
    height: 280px;
    width: 100%;
    min-width: 320px;
    overflow-y: auto;
  }
}
