@use "../../../../../app/styles/variable" as *;

.wrapper {
  :global {
    position: relative;
    .floating-label {
      &.isFilled,
      &.isSelecting {
        label {
          transform: translateY(-10px);
          font-size: 12px;
          line-height: 1.2;
          color: $gray-600;
        }
      }
      &.isSelecting {
        &.depart-date {
          & > div {
            border-color: $secondary-color;
          }
        }
        &.return-date {
          & > div {
            border-color: $thirdary-color;
          }
        }
      }
      &:not(.isSelecting) {
        input {
          &:focus ~ label {
            transform: none;
            font-size: initial;
            line-height: inherit;
            color: inherit;
          }
        }
        & > div {
          border-color: $gray-300;
        }
      }
    }
    .date-range-picker {
      position: absolute;
      right: 0;
    }
  }
}
